.openMenu {
  position: fixed;
  top: 0px;
  width: 150px;
  left: 80%;
  z-index: 200;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 15px;
  border: 1px solid gray;
  transform: translateY(70px);
  transition: 0.5s; }

.closeMenu {
  position: absolute;
  top: 0px;
  width: 150px;
  left: 80%;
  z-index: 200;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 15px;
  border: 1px solid gray;
  transform: translateY(-100%);
  transition: 0.5s; }

.sideBar {
  margin: 15px 5px 0 5px;
  box-sizing: border-box;
  cursor: pointer; }
  .sideBar:hover {
    opacity: 0.8;
    color: red; }
